<div class="calculadora">
  <input type="text" [value]="display" readonly>

  <div class="botões">
   
    <button (click)="pressFunction('sqrt')">√</button>
    <button (click)="pressFunction('square')">x²</button>
    <button (click)="pressOperator('^')">x^y</button>
    <button (click)="pressFunction('inverse')">1/x</button>

    <button (click)="pressFunction('sin')">sin</button>
    <button (click)="pressFunction('cos')">cos</button>
    <button (click)="pressFunction('tan')">tan</button>
    <button (click)="pressFunction('sign')">±</button>

    <button (click)="pressFunction('log')">log</button>
    <button (click)="pressFunction('ln')">ln</button>
    <button (click)="pressDecimal()">.</button>
    <button class="clear" (click)="clear()">C</button>

    
    <button (click)="pressNumber('7')">7</button>
    <button (click)="pressNumber('8')">8</button>
    <button (click)="pressNumber('9')">9</button>
    <button (click)="pressOperator('/')">/</button>

    <button (click)="pressNumber('4')">4</button>
    <button (click)="pressNumber('5')">5</button>
    <button (click)="pressNumber('6')">6</button>
    <button (click)="pressOperator('*')">*</button>

    <button (click)="pressNumber('1')">1</button>
    <button (click)="pressNumber('2')">2</button>
    <button (click)="pressNumber('3')">3</button>
    <button (click)="pressOperator('-')">-</button>

    <button (click)="pressNumber('0')">0</button>
    <button (click)="pressEquals()">=</button>
    <button (click)="pressOperator('+')">+</button>
    <button class="backspace" (click)="backspace()">⌫</button>
  </div>
</div>
